{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>All Students</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <header>All Student Records</header>
  <div class="container">
    <table>
      <tr>
        <th>Admission No</th>
        <th>Name</th>
        <th>Roll</th>
        <th>Class</th>
        <th>Total</th>
        <th>Percentage</th>
      </tr>
      {% for s in students %}
      <tr>
        <td>{{ s.admission_number }}</td>
        <td>{{ s.name }}</td>
        <td>{{ s.roll_number }}</td>
        <td>{{ s.class_name }}</td>
        <td>{{ s.total }}</td>
        <td>{{ s.percentage|floatformat:2 }}</td>
      </tr>
      {% endfor %}
    </table>
    <a href="{% url 'home' %}"><button>Back to Home</button></a>
  </div>
</body>
</html>
